body {
    background-color: rgb(36, 36, 36);
    margin: 0;
    font-family: "Arial";
    font-size: 15px;
}

.button {
    display: block;
    width: 100%;
    border: none;
    padding: 10px;
    margin: 6px 0;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}

.input {
    width: 100%;
    padding: 8px 10px;
    margin: 6px 0;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    box-sizing: border-box;
}

#DivisionB {
    border-radius: 10px;
    color: rgb(45, 156, 119);
    background-color: rgb(34, 91, 91);
}

#DivisionA {
    opacity: 0.7;
    border-radius: 10px;
    color: rgb(174, 86, 86);
    background-color: rgb(98, 45, 45);
}

#Medium {
    border-radius: 10px;
    opacity: 0.7;
    color: goldenrod;
    background-color: orange;
}

#Hard {
    border-radius: 10px;
    opacity: 0.7;
    color: rgb(110, 33, 19);
    background-color: rgb(72, 8, 8);
}

#Easy {
    border-radius: 10px;
    opacity: 0.7;
    color: rgb(116, 207, 115);
    background-color: rgb(62, 85, 59);
}


h1 {
    align-self: center;
    background-color: rgb(28, 28, 28);
    text-align: center;

}

input {
    align-self: center;
}